/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  position: relative;
  padding-block-start: 102px;
  padding-block-end: 102px;
  color: var(--color-accent);
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
  background: var(--gradient);
  background-color: var(--color-bg);
  background-repeat: no-repeat;
  background-size: 100% 960px;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--card-text-fw, 400);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 0 auto 100px;
  border: 2px solid var(--color-accent, #000);
  padding: 134px 0 25px;
  font-family: var(--font-accent), monospace;
  font-weight: var(--card-text-fw, 400);
  background: var(--color-bg, #fff);
  min-block-size: 364px;
}

.content-width {
  inline-size: clamp(371px, 48.33%, 48.33%);
  max-inline-size: 696px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  padding-inline-start: 18px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--color-bg);
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  height: 2px;
  background-color: var(--color-accent, #000);
  inline-size: 92%;
  scale: 0;
}

.theme-menu__button:focus-visible::after {
  transition: scale 0.3s ease;
  transform-origin: left;
  scale: 1;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 1px;
  left: -14px;
  opacity: 0.6;
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

.header__subtitle {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.title {
  margin-block-end: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  z-index: 1;
  margin: auto;
}

.card-list {
  inline-size: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-block-end: 51px;
  background-color: var(--color-bg, #fff);
}

.card__title {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-accent, #000);
  padding: 4px 10px;
  font-size: 18px;
  line-height: normal;
  font-variation-settings: 'wght' var(--card-title-fw, 700);
}

.card__image-wrapper {
  position: relative;
  border: 2px solid var(--color-accent, #000);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.image-filter-0 {
  filter: sepia(90%) blur(4px) brightness(0.5);
}

.image-filter-1 {
  filter: brightness(1.5) opacity(0.1);
}

.image-filter-2 {
  filter: hue-rotate(-230deg);
}

.image-filter-3 {
  filter: brightness(0.6);
}

.image-filter-4 {
  filter: hue-rotate(-330deg);
}

.image-filter-5 {
  filter: brightness(50%);
}

.image-filter-6 {
  filter: invert(0.9);
}

.image-filter-7 {
  filter: hue-rotate(40deg);
}


.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--color-accent, #000);
  font-family: var(--font-accent), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  text-shadow:
  -1px 0 var(--color-stroke, #000),
  0 1px var(--color-stroke, #000),
  1px 0 var(--color-stroke, #000),
  0 -1px var(--color-stroke, #000);
  z-index: 1;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card__label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--color-stroke, #000);
      text-stroke: 1px var(--color-stroke, #000);
  }
}

.card__footer {
  border: 2px solid var(--color-accent, #000);
  padding: 25px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-block-end: 24px;
  font-size: 18px;
  line-height: 116.667%;
}

.card__buttons-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  inline-size: 100%;
}

.card__icon-button {
  display: flex;
  place-items: center;
  border: 2px solid transparent;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  padding: 0;
}

.card__icon-button:focus-visible {
  border-color: var(--color-accent, #000);
  transition: border-color 0.3s ease;
}

.like-icon {
  fill: var(--color-accent, #000);
}


.sparks {
  opacity: 0;
}

.button {
  position: relative;
  border: 2px solid var(--color-accent, #000);
  overflow: hidden;
  font-family: var(--font-accent), monospace;
  font-size: 14px;
  line-height: 90%; /* 12.6px */
  background: transparent;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px #000;
  transition: box-shadow 0.3s ease;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-accent, #000);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.card__like-button {
  padding: 9px 17px;
  inline-size: 130px;
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: auto;
  padding: 15px 18px;
  inline-size: min(48.33%, 335px);
  block-size: 51px;
  background-color: var(--color-bg);
}

.floppy {
  position: relative;
  z-index: 10;
  color: var(--color-btn-text);
  inline-size: 21px;
  max-inline-size: 87%;
  block-size: 21px;
  mix-blend-mode: difference;
}

.button__text {
  position: relative;
  z-index: 10;
  color: var(--color-btn-text);
  mix-blend-mode: difference;
}

.modal {
  border: 2px solid var(--color-accent, #000);
  padding: 31.5px;
  background-color: var(--color-bg, #fff);
  inline-size: clamp(341px, 90%, 357px);
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}


.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.modal__floppy {
  display: block;
  color: var(--color-accent, #000);
  inline-size: 39px;
  block-size: 39px;;
}

.modal__title {
  color: var(--color-accent, #000);
  font-family: var(--font-accent), monospace;
  font-weight: var(--card-text-fw, 400);
  font-size: 14px;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  max-inline-size: 198px;
}

.modal__button {
  margin-block-start: 30px;
  inline-size: 100%;
  block-size: 38px;
}

@media (width <= 375px) {
  .page {
    padding-block-start: 100px;
  }

  .content-width {
    inline-size: 100%;
  }

  .header {
    padding: 120px 0 25px;
    min-block-size: 323px;
  }

  .card {
    margin-block-end: 47px;
  }

  .card__icon-button {
    padding: 0;
  }

  .card__label {
    right: 11px;
  }

  .card__content {
    margin-block-end: 24px;
  }

  .footer {
    padding: 0 34px;
  }

  .footer__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    inline-size: 83%;
    block-size: 87px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}